<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Print your name Google Cloud GKE Cluster </title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body>
    <header>
        <h1>Print Your Name On Google Cloud GKE Cluster</h1>
        <p>
            This service returns figlet for entered text
        </p>
    </header>
    <main>
        <form action="/Hello" method="post">
                Enter Name: <input type="text" name="name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
                Welcome to GKE Google Cloud!
            </form>
        
        <br>
        <p><center>Now running on <b>Google Cloud Kubernetes Cluster</b> </center></p>
    </main>

</body>
